<%# add navigation links to this file %>
<li><%= link_to '状态', "/keywords" %></li>
<li><%= link_to '验证码', "/captchas" %></li>
<li><%= link_to '账号', "/admin/account" %></li>
<li><%= link_to '代理', "/admin/proxy" %></li>
<li><%= link_to 'sidekiq', sidekiq_web_path %></li>
<li><%= link_to 'About', page_path('about') %></li>
